################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/twrlib.xml
/bin/Debug/TWRLib.pdb
/bin/Debug/twrcontrollibrary.dll
/bin/Debug/Sport.vshost.exe.manifest
/bin/Debug/Sport.vshost.exe.config
/bin/Debug/Sport.vshost.exe
/bin/Debug/Sport.pdb
/bin/Debug/Sport.exe.manifest
/bin/Debug/Sport.exe.config
/obj/Debug/Sport.projdata
/obj/Debug/Sport.pdb
/obj/Debug/Sport.frmStreckenSortiert.resources
/obj/Debug/Sport.frmRVEingabe.resources
/obj/Debug/Sport.frmProtokollOhneGrid.resources
/obj/Debug/Sport.frmProtokollJoggen.resources
/obj/Debug/Sport.frmProtokollHomeTrainer.resources
/obj/Debug/Sport.frmProtokoll.resources
/obj/Debug/Sport.frmMain.resources
/obj/Debug/Sport.frmKalender.resources
/obj/Debug/Sport.frmJOEingabe.resources
/obj/Debug/Sport.frmHTEingabe.resources
/obj/Debug/Sport.frmGProtokoll.resources
/obj/Debug/Sport.frmExcelInfo.resources
/obj/Debug/Sport.frmDatei.resources
/obj/Debug/Sport.exe
/obj/Debug/Sport.csprojResolveAssemblyReference.cache
/obj/Debug/Sport.csprojAssemblyReference.cache
/obj/Debug/Sport.csproj.GenerateResource.cache
/obj/Debug/Sport.csproj.FileListAbsolute.txt
/obj/Debug/Sport.csproj.CoreCompileInputs.cache
/obj/Debug/Sport.csproj.CopyComplete
/obj/Debug/Rvdv.projdata
/obj/Debug/Rvdv.exe
/obj/Debug/ResolveAssemblyReference.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/obj/AxInterop.SHDocVw.dll
/obj/Release/Sport.csprojResolveAssemblyReference.cache
/obj/Release/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/obj/Interop.SHDocVw.dll
/.vs/Sport/v16/.suo
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/obj/Release/Sport.csprojAssemblyReference.cache
/packages/Newtonsoft.Json.13.0.1/packageIcon.png
/packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
/packages/Newtonsoft.Json.13.0.1/LICENSE.md
/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/.signature.p7s
/obj/Debug/Sport.frmStreckenSortiertPaintProtokoll.resources
/obj/Debug/Sport.frmProtokollRennvelo.resources
/obj/Debug/Sport.frmProtokollJoggenPaintProtokoll.resources
/obj/Debug/Sport.frmProtokollHomeTrainerPaintProtokoll.resources
/obj/Debug/Sport.frmExcelInfoPaintProtokoll.resources
/obj/Debug/Sport.exe.config
/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
